.projects-section {
  background-color: #1B1A55;
  border-radius: 20px;
  padding: 60px;
  margin: 40px auto;
  max-width: 1200px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

.projects-section h3 {
  text-align: center;
  font-size: 36px;
  color: #f39c12;
  margin-bottom: 40px;
  font-weight: bold;
}

.projects-section h3::after {
  content: '';
  display: block;
  width: 120px;
  height: 5px;
  background-color: #f39c12;
  margin: 20px auto 0;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  background-color: #070F2B;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.card-image {
  flex: 1.4;
}

.card-image img {
  padding-top: 35px;
  width: 100%; 
  height: auto; 
  object-fit: cover;
  border-radius: 20px 0 0 20px; 
}

.card-content {
  flex: 2;
  padding: 25px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 24px;
  color: #f39c12;
  font-weight: bold;
}

.card-content p {
  font-size: 16px;
  color: #e0e0e0;
  line-height: 1.8;
}



.technologies h5 {
  color: #f39c12;
  font-size: 18px;
  margin-bottom: 15px;
}

.technologies .badge {
  display: inline-block;
  background-color: #e4c89a;
  color: #070F2B;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 0.85em;
  font-weight: 600;
  margin-right: 12px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.technologies .badge:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}

.card-action {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.card-action a {
  color: #fff;
  background-color: #f39c12;
  font-weight: bold;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-action a:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .row {
    gap: 25px;
  }

  .card {
    flex-direction: column;
  }

  .card-image {
    max-width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .card-content {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .card-content {
    padding: 15px;
  }

  .projects-section h3 {
    font-size: 28px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-content p {
    font-size: 14px;
  }

  .card-action a {
    font-size: 12px;
    padding: 10px 16px;
  }

  .technologies .badge {
    margin: 4px;
  }
}
